[*.cs]
resharper_class_never_instantiated_local_highlighting=none
resharper_collection_never_updated_local_highlighting=none
resharper_expression_is_always_null_highlighting=none
resharper_inconsistent_naming_highlighting=none
resharper_local_variable_hides_member_highlighting=none
resharper_not_accessed_variable_highlighting=none
resharper_redundant_assignment_highlighting=none
resharper_redundant_extends_list_entry_highlighting=none
resharper_specify_a_culture_in_string_conversion_explicitly_highlighting=none
resharper_unused_member_global_highlighting=none
resharper_unused_member_local_highlighting=none
resharper_unused_type_global_highlighting=none
resharper_unused_type_local_highlighting=none
resharper_unused_variable_highlighting=none
resharper_localizable_element_highlighting=none
resharper_partial_type_with_single_part_highlighting=none
resharper_unused_type_parameter_highlighting=none
resharper__highlighting=none
resharper__highlighting=none
resharper__highlighting=none
resharper__highlighting=none
